Source: ros-kilted-etsi-its-ivim-ts-conversion
Section: misc
Priority: optional
Maintainer: "Jean-Pierre Busch" <jean-pierre.busch@rwth-aachen.de>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake, ros-kilted-etsi-its-ivim-ts-coding, ros-kilted-etsi-its-ivim-ts-msgs, ros-kilted-etsi-its-primitives-conversion, ros-kilted-ros-workspace
Homepage: https://index.ros.org/p/etsi_its_ivim_ts_conversion/#kilted
Standards-Version: 3.9.2

Package: ros-kilted-etsi-its-ivim-ts-conversion
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-etsi-its-ivim-ts-coding, ros-kilted-etsi-its-ivim-ts-msgs, ros-kilted-etsi-its-primitives-conversion, ros-kilted-ros-workspace
Description: Conversion functions for converting ROS messages to and from ASN.1-encoded ETSI ITS IVIMs (TS)
