Source: ros-jazzy-etsi-its-conversion-srvs
Section: misc
Priority: optional
Maintainer: "Jean-Pierre Busch" <jean-pierre.busch@rwth-aachen.de>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-etsi-its-cam-msgs, ros-jazzy-etsi-its-cam-ts-msgs, ros-jazzy-etsi-its-cpm-ts-msgs, ros-jazzy-etsi-its-denm-msgs, ros-jazzy-etsi-its-denm-ts-msgs, ros-jazzy-etsi-its-ivim-ts-msgs, ros-jazzy-etsi-its-mapem-ts-msgs, ros-jazzy-etsi-its-mcm-uulm-msgs, ros-jazzy-etsi-its-spatem-ts-msgs, ros-jazzy-etsi-its-vam-ts-msgs, ros-jazzy-rosidl-default-generators, ros-jazzy-udp-msgs, ros-jazzy-ros-workspace, ros-jazzy-rosidl-typesupport-fastrtps-c, ros-jazzy-rosidl-typesupport-fastrtps-cpp
Homepage: https://index.ros.org/p/etsi_its_conversion_srvs/#jazzy
Standards-Version: 3.9.2

Package: ros-jazzy-etsi-its-conversion-srvs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-etsi-its-cam-msgs, ros-jazzy-etsi-its-cam-ts-msgs, ros-jazzy-etsi-its-cpm-ts-msgs, ros-jazzy-etsi-its-denm-msgs, ros-jazzy-etsi-its-denm-ts-msgs, ros-jazzy-etsi-its-ivim-ts-msgs, ros-jazzy-etsi-its-mapem-ts-msgs, ros-jazzy-etsi-its-mcm-uulm-msgs, ros-jazzy-etsi-its-spatem-ts-msgs, ros-jazzy-etsi-its-vam-ts-msgs, ros-jazzy-rosidl-default-runtime, ros-jazzy-udp-msgs, ros-jazzy-ros-workspace
Description: Services to convert ROS messages to and from ASN.1-encoded ETSI ITS messages
